fastapi==0.115.14
uvicorn[standard]==0.34.3
chromadb==1.0.21
sentence-transformers==3.4.1
apscheduler==3.11.2
ollama==0.4.9
pyttsx3==2.99
elevenlabs==2.37.0
python-dotenv==1.2.1
pydantic==2.11.2
sqlcipher3==0.5.3
